@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 57px 180px;
}
header nav h1 i {
  font-weight: bolder;
  color: orangered;
  font-size: 35px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  column-gap: 10px;
  padding: 1px;

  align-items: center;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 35px;
  padding: 3px;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 1.2rem;
}

header nav ul li {
  list-style: none;
  padding: 5px 13px;
  border: none;
  border-radius: 15px;
}
header nav ul li:first-child {
  background-color: orangered;
}
section {
  width: 100%;
}

.banner-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
section > .left {
  max-width: 570px;
  margin: 50px 0;
}
section > .left > h2 {
  font-size: 4.8rem;
  font-weight: bolder;
  margin-bottom: 30px;
}
section > .left > h2 > span {
  font-family: "miama";
  color: blueviolet;
  font-weight: 100;
  font-style: italic;
}
section > .left > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 30px;
}
.button-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
button {
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 10px 25px;
  border-radius: 20px;
  width: 45%;
}
.button-container button:first-child,
.run-description button {
  background-color: #e6533c;
  border: none;
}
section > .right {
  background-image: url(../images/Images\ 2.png);
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  max-width: 330px;
  height: 550px;
}
.icon {
  width: 2rem;
  height: 2rem;
  background: #8d2a1a;
  border: 1px solid #8d2a1a;
  border-radius: 50%;
}
section > .right > .pop {
  background-color: rgba(48, 48, 48, 0.54);

  width: max-content;
  padding: 20px;
  border: none;
  border-radius: 10px;
  z-index: 2;
}
.pop .title {
  width: max-content;
}
.pop-title {
  font-size: 40px;
}
.pop-para {
  font-size: 13px;
}
.right > .top > .title > p {
  z-index: 3;
  background-color: rgba(48, 48, 48, 0.55);
}
.bottom .title p {
  z-index: 3;
  background-color: rgba(48, 48, 48, 0);
}

.top {
  position: relative;

  top: -22%;
  left: 10%;
  height: max-content;
}

.bottom {
  height: max-content;
  position: relative;
  top: 32%;
  left: -25%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bottom .title {
  background-color: rgba(255, 255, 255, 0);
}
.Habit {
  width: 100%;
  padding: 3rem 0;
}
main section > .card {
  width: 82%;
  margin: 1% 8%;
  padding: 3.5rem 0;
}
.big-title {
  text-align: center;
  font-size: 3em;
}
.small-title {
  text-align: center;
  font-size: 0.9em;
  opacity: 0.5;
}
.Habit-title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 660px;
  max-height: 110px;
  margin-top: 1rem;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6rem;
}
.card-box {
  text-align: center;
}
.card-box > img {
  width: 95%;
  border: 5px solid #484848;
  border-radius: 50%;
}
.big-font-size {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 1.8em;
  opacity: 1;
}
.small-font-size {
  font-size: 0.9em;
  opacity: 0.6;
  font-weight: 400;
}

.bg-color {
  background-color: rgba(34, 34, 34, 1);
}
.Run,
.Training {
  border: 1px solid tomato;
  display: flex;
  width: calc(82% - 60px);
  justify-content: space-between;
  margin: 1% 8%;
  height: 300px;
  padding: 30px;
}
.left-title {
  text-align: left;
  padding: 10px 20px;
}
.left-description {
  font-size: 0.9em;
  text-align: left;
  padding: 10px 20px;
  opacity: 0.5;
}
.run-description {
  width: 40%;
}
.run-description button {
  margin-top: 25px;
  margin-left: 20px;
}
.image {
  border-radius: 15px;
  width: 366px;
  height: 312px;
  background-size: 350%;

  background-image: url(../images/run.jpg);
  background-position: 650px -180px;
}

.Training {
  width: 82%;
  height: auto;
  padding: 0;
  display: flex;

  flex-direction: column;
}
.Training-description > * {
  padding-left: 0;
}
.Training-figures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 360px;
}
.item1 {
  background-image: url(../images/exercise1.jpg);
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  background-position: cover;
  background-size: 90% 55%;
}
.item2 {
  background-image: url(../images/exercise2.png);
  grid-column: 4 / span 10;
  grid-row: 1 / span 2;
  /* background-position:center;
  background-size: auto 85%; */
}
.item3 {
  grid-column: 10 / span 13;
  grid-row: 1 / span 2;
}
.item4 {
  grid-column: 1 / span 6;
  grid-row: 2 / span 3;
}
.item5 {
  grid-column: 6 / span 9;
  grid-row: 2 / span 3;
}
.item6 {
  grid-column: 9 / span 13;
  grid-row: 2 / span 3;
}
.bmi-title,
.meet {
  margin: 0 auto;
  width: 46%;
  margin-bottom: 70px;
  margin-top: 70px;
}
.bmi-chart {
  display: flex;
  justify-content: space-evenly;
}
.bmi-title > h3,
.bmi-title > p {
  padding-left: 0;
}
.chart > table {
  border-collapse: collapse;
  border-color: #202020;
  text-align: left;
  width: 100%;
}
th,
td {
  padding: 10px;
  font-weight: 400;
}
td {
  font-size: 0.9em;
  opacity: 0.6;
}
.chart {
  width: 22%;
}
.calculatior {
  width: 40%;
}
